.sponsorspack
	font-size 16px
	display flex
	flex-direction column
	&__head
		border-bottom-style: solid
		padding 24px 0
		font-size 32px
	&__body
		line-height 1.5
		font($font.body.light)
		color: $color.white
		text-align left
		padding 6px 12px
		flex 1 1 auto
		@media(min-width: $screens.pv.bp)
			padding 12px 24px
		ul
			margin 0
			padding 0
		li
			display block
			padding 6px 0 6px 12px
			@media(min-width: $screens.pv.bp)
				padding 12px 0 12px 24px
			border-top: 1px solid alpha($color.white, 15%)
			&:first-child
				border none
	&__foot
		padding 24px 0
		color: $color.white
		font-size 48px
		font($font.body.light)
types = 'bronze' 'silver' 'gold' 'general'
for type in types
	.sponsorspack--{type}
		@extend .sponsorspack
		&__head
			color: $color[type]
			border-bottom-color: $color[type]
			background-color: alpha($color[type], .4)
		&__body
			background-color: alpha($color[type], (type == platinum) ? .3 : .2)
		&__foot
			background-color: alpha($color[type], .4)
