.sponsorspacks
	@media(min-width: $screens.tv.bp)
		display flex
		flex-wrap wrap
		margin 0 32px
	&__item
		margin 32px 0
		@media(min-width: $screens.tv.bp)
			flex 1 1 300px
			margin 0 0 32px
		@media(min-width: $screens.th.bp)
			flex 1 1 400px
			margin 0 0 32px
		@media(min-width: $screens.ds.bp)
			flex 1 1 200px
			margin 0
