.speakers
	@media(min-width: $screens.tv.bp)
		display flex
		flex-wrap wrap
		justify-content center
		// margin 0 -24px
	@media(min-width: $screens.th.bp)
		margin 0
	&__item
		padding 12px 10px
		max-width 500px
		@media(min-width: $screens.tv.bp)
			padding 24px
			flex 1 1 400px
		@media(min-width: $screens.th.bp)
			padding 30px
		@media(min-width: $screens.ds.bp)
			padding 32px
