section#about.section--light.js-section
	.section--light__head
		h1.section--light__title <?= $data->title() ?>
	.section--light__body.aboutlist
		.aboutlist__item.about
			.about__head
				h2.about__title <?= kirbytext($data->what_title()) ?>
			.about__body
				.bodytext
					<?= kirbytext($data->what_text()) ?>
			.about__foot
				a(href="#press_release").button--ghost_neutral
					span.button--ghost_neutral__icon: svg: use(xlink:href="#icon-arrow-download")
					<?= l::get("get press release") ?>
		.aboutlist__item.about
			.about__head
				h2.about__title <?= kirbytext($data->who_title()) ?>
			.about__body
				.bodytext
					<?= kirbytext($data->who_text()) ?>
			.about__foot
				h3.about__ftitle <?= l::get("want to participate") ?>
				a(href="#contact").button--ghost_main_active.js-scrollTo <?= l::get("contact us") ?>
		.aboutlist__item.about
			.about__head
				h2.about__title <?= kirbytext($data->whom_title()) ?>
			.about__body
				.bodytext
					<?= kirbytext($data->whom_text()) ?>
