section#contact.section--lightgray.js-section
	.wrapper
		.section--lightgray__head
			h1.section--lightgray__title <?= $data->title() ?>
		.section--lightgray__body
			form(action!="<?= url('contact/contact-form-submit') ?>" method="post").form#contactForm
				.form__body
					.form__cols
						.form__item.form__col
							input(type="text" id="name" name="name" placeholder!="<?= l::get('form name') ?>"  ).form__input--text
						.form__item.form__col
							input(type="email" id="email" name="_from" placeholder!="<?= l::get('form email') ?>"  ).form__input--text
					.form__item
						textarea(type="message" id="message" name="message" placeholder!="<?= l::get('form message') ?>" ).form__input--textarea 
				.form__foot
					input(type="text" name="website" id="website" class="uniform__potty")
					input(type="hidden" name="_submit" value!="<?= $form->token() ?>")
					button(type="submit").form__input--submit.button--ghost_main_active.button--lg.js-contactFormSubmit <?= l::get('form submit') ?>
