section#sponsors.section--dark.js-section
	.section--dark__head
		h1.section--dark__title <?= $data->title() ?>
		h2.section--dark__subtitle <?= $data->subtitle() ?>
	.section--dark__body.sponsorspacks
		<? if($data->hasChildren()): ?>
		<? foreach($data->children() as $pack): ?>
		<? if ($pack->type()->isNotEmpty()) { $mod = "--".$pack->type(); } ?>
		.sponsorspacks__item(class!="sponsorspack<?= $mod ?>")
			div(class!="sponsorspack<?= $mod ?>__head") <?= $pack->title() ?>
			div(class!="sponsorspack<?= $mod ?>__body") <?= kirbytext($pack->benefits()) ?>
			div(class!="sponsorspack<?= $mod ?>__foot")
				span.price <?= $pack->price() ?>
		<? endforeach ?>
		<? endif ?>
	.section--dark__foot
		h3.section--dark__foottitle <?= $data->foottitle() ?>
		a(href="#contact").button--ghost_accent.button--lg.js-scrollTo <?= l::get("contact us") ?>
