section#sponsors.section--light.js-section
	.section--light__head
		h1.section--light__title <?= $data->title() ?>
	.section--light__body
		.sponsors
			<? if($data->hasChildren()): ?>
			<? foreach($data->children() as $sponsor): ?>
			<? if ($sponsor->type()->isNotEmpty()) { $mod = "--".$sponsor->type(); } ?>
			.sponsors__item
				div(class!="sponsor<?= $mod ?>")
					<? if($sponsor->image('logo.png')): ?>
					div(class!="sponsor<?= $mod ?>__logo")
						a(href!="<?= $sponsor->website() ?>" )
							img(src!="<?= $sponsor->image('logo.png')->url() ?>")
					<? endif ?>
					h2(class!="sponsor<?= $mod ?>__name")
						a(href!="<?= $sponsor->url() ?>") <?= $sponsor->title() ?>
					div(class!="sponsor<?= $mod ?>__body")
						.bodytext <?= kirbytext($sponsor->text()) ?>
			<? endforeach ?>
			<? endif ?>
	.section--light__foot
		h3.section--light__foottitle <?= $data->foottitle() ?>
		a(href="#contact").button--ghost_accent.button--lg.js-scrollTo <?= l::get("contact us") ?>
