size = 32px
.nav
	margin 0 -4px
	&__item
		display inline-block
		vertical-align middle
		text-align center
		white-space nowrap
		margin 0 8px
		@media(min-width: $screens.th.bp) and (max-width: $screens.ds.bp - 1)
			margin 0 6px
	&__item--icon
		@extend .nav__item
		height: size
		width: size
		padding 7px 8px
		line-height 1
		color: alpha($color.white, .5)
		fill: @color
		border: 1px solid @color
		border-radius 50%
		svg
			width 100%
			height 100%
		&:hover
			color: $color.white
			fill: @color
			border-color: @color
	&__item--hiddenicon
		@extend .nav__item, .nav__item--icon
		display none
		&.active
			display inline-block
			@media(min-width: $screens.th.bp)
				display none
	&__item--lang
		@extend .nav__item, .nav__item--icon
		text-align center
		padding 0
		line-height size
		font-size 13px
		text-transform uppercase
.nav--mainnav
	@extend .nav
	text-align right
	&__list
		display flex
		flex-direction column
		justify-content top
		line-height 36px
		fadeOut()
		position fixed 60px 0 0 0
		background: $color.black
		font-size 24px
		@media(min-width: $screens.th.bp)
			display flex
			flex-direction row
			justify-content center
			position static
			padding 0
			background none
			font-size 16px
			.sticky &
				fadeIn()
		&.active
			fadeIn()
	&__item
		padding .5em 12px
		color: lighten($color.main, 25%)
		flex 1 1 0%
		font-size 18px
		@media(min-width: $screens.tv.bp)
			font-size 24px
			padding 1em 12px
		@media(min-width: $screens.th.bp)
			padding 12px 6px
			font-size 14px
			flex none
		@media(min-width: $screens.ds.bp)
			padding 12px 6px
			font-size 16px
			flex none
		@media(min-width: $screens.dw.bp)
			padding 12px

		&.active
			color: $color.accent
	&__item--logo
		@extend .nav__item, .nav--mainnav__item
		margin-top -15px
		flex 2 1 0%
		padding 0 12px .5em
		@media(min-width: $screens.tv.bp)
			padding 16px 12px
			margin-top 0
		@media(min-width: $screens.th.bp)
			flex none
			padding-left 8px
			padding-right 8px
		img
			width 150px
			margin 0 auto
			@media(min-width: $screens.tv.bp)
				width 200px
			@media(min-width: $screens.th.bp)
				width 100px
				margin -7px auto 0
	&__item--button
		@extend .nav__item, .nav--mainnav__item
		padding-bottom @padding-top
		flex 2 1 0%
		padding .75em 12px
		@media(min-width: $screens.th.bp)
			padding-top 9px
			flex none
