.button
	width 100%
	text-align center
	@media(min-width: $screens.pv.bp)
		width auto
	display inline-block
	html[lang="en"] &
		text-transform capitalize
	&__icon
		display inline-block
		margin 0 12px 0 -6px
		height 16px
		width 16px
		vertical-align -10%
		svg
			width 100%
			height 100%
.button--ghost
	@extend .button
	background none
	border-width 2px
	border-style solid
	padding .5em 1em
	@media(min-width: $screens.th.bp)
		padding .75em 1.5em
	transition all .3s
.button--ghost_main
	@extend .button, .button--ghost
	border-color: @color
	&, &:link, &:visited
		color: lighten($color.main,50%)
		fill: @color
	&:hover, &:active
		color: $color.white
		fill: @color
		background-color: $color.main
		border-color: @background-color
.button--ghost_main_active
	@extend .button, .button--ghost, .button--ghost_main
	&, &:link, &:visited
		color: $color.main
		fill: @color
		border-color: @color
	&:hover, &:active
		color: $color.white
		fill: @color
		background-color: $color.main
		border-color: @background-color

.button--ghost_accent
	@extend .button, .button--ghost
	&, &:link, &:visited
		color: $color.accent
		fill: @color
		border-color: @color
	&:hover, &:active
		background-color: $color.accent
		color: $color.white
		fill: @color

.button--ghost_accent_tiny
	@extend .button, .button--ghost, .button--ghost_accent
	padding .08em 1.5em
	border-width 1px

.button--ghost_neutral
	@extend .button, .button--ghost
	&, &:link, &:visited
		color: lighten($color.black, 50%)
		border-color: lighten(@color, 25%)
		fill: @color
	&:hover, &:active
		background-color: lighten($color.black, 50%)
		border-color: @background-color

.button--ghost_white
	@extend .button, .button--ghost
	&, &:link, &:visited
		color: $color.white
		border-color: darken(@color, 25%)
		fill: @color
	&:hover, &:active
		background-color: $color.white
		color: $color.black
		border-color: @background-color

.button--lg
	font-size 24px
