.schedule
	&__caption
		font-size 32px
		line-height 48px
		font($font.body.light)
		margin-bottom 10px
	&__desc
		font-size 14px
		line-height 18px
		color: lighten($color.black, 50%)
	&__link
		display block
	&__action
		line-height 28px
	&__speaker
		display block
		margin 6px 0
		color: lighten($color.black, 50%)
	&__speach
		display block
		font-size 24px
		font($font.body.semibold)
