.schedule
	&__link
		display block
	&__action
		line-height 28px
	&__speaker
		display block
		margin 6px 0
		color: lighten($color.black, 50%)
	&__speach
		display block
		font-size 24px
		font($font.body.semibold)
