.sponsors
	@media(min-width: $screens.th.bp)
		display flex
	&__item
		@media(min-width: $screens.th.bp)
			flex 1 1 0%
			padding 0 20px
		@media(min-width: $screens.ds.bp)
			padding 0 30px
		@media(min-width: $screens.dw.bp)
			padding 0 50px
