.t
	border: 1px solid darken($color.white, 20%)
	border-width 1px 0
	width 100%
	text-align left
	& + .t
		margin-top 32px
.t-body
	&__td
		padding 20px 10px 16px
		text-align left
		vertical-align top
		border-top: 1px dashed darken($color.white, 20%)
	&__td--time
		@extend .t-body__td
		text-align right
		letter-spacing 1px
		font-size 24px
		font($font.body.light)
		color: lighten($color.black, 30%)
		@media(min-width: $screens.tv.bp)
			width 30%
