@keyframes slideshow
	17%
		opacity 1
	25%
		opacity 0
	92%
		opacity 0
@keyframes pulse-border
	0%
		border-color: alpha($color.white, .75)
		top -5px
	50%
		border-color: alpha($color.white, .25)
		top 5px
	100%
		border-color: alpha($color.white, .75)
		top -5px

@keyframes bubble
	0%
		top -25%
	50%
		top 25%
	100%
		top -25%
