block global_vars
doctype
html(lang!="<?= $site->language() ?>")
	<? snippet('head') ?>
	body
		<? snippet('ga') ?>
		<? include_once('assets/images/svg-defs.svg') ?>
		
		<? snippet('header') ?>
		main
			block main
		<? snippet('footer') ?>
