//
// Variables
// --------------------------------------------------


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screens = {
	xs: {	// Extra small screen / phone vertical
		bp: 0
	}
	pv: {	// Small screen / phone vertical
		bp: 480px
	}
	tv: {	// Small screen / tablet vertical
		bp: 768px
	},
	th: {	// Medium screen / tablet horizontal
		bp: 1024px
	},
}

$column_count = 3



//== Fonts

$fontpath = 				'../fonts'

$font-sans =				Helvetica, Arial, sans-serif


$font = {
	// Corporate font
	body: {
		light: {
			style: normal,
			weight: 300,
			family: sourcesanspro-light
		},
		regular: {
			style: normal,
			weight: 400,
			family: sourcesanspro-Regular
		},
		semibold: {
			style: normal,
			weight: 600,
			family: sourcesanspro-semibold
		}
	}
}


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$color = {
	main: #2D4779,
	accent: #F04A23,
	general: #F04A23,
	black: #000,
	white: #fff,
	silver: #C0C0C0,
	gold: #cc9900,
	green: #03570A,
	red: #91040D
}


//== Iconography
//
$icon-font-main ?=	"SS-Pika"
$icon-font-sec ?=	"FontAwesome"
